<div layout="column" layout-align="center center">
  <h1>{{vm.message}}</h1>

  <md-input-container flex="33">
    <label>CPF</label>
    <input type="text" maxlength="11" required name="cpf" ng-model="vm.cpf">
    <div ng-messages="projectForm.cpf.$error">
      <div ng-message="required">Campo CPF obrigatório</div>
    </div>
  </md-input-container>

  <md-input-container flex="33">
    <label>E-mail</label>
    <input type="text" required name="email" ng-model="vm.email">
    <div ng-messages="projectForm.email.$error">
      <div ng-message="required">Campo e-mail obrigatório</div>
    </div>
  </md-input-container>

  <section>
    <md-button class="md-raised md-primary" ng-click="vm.validate()">Validar</md-button>
  </section>

  <div ng-show="vm.showResult">
    <h6>CPF válido: {{vm.isValidCPF ? 'Sim' : 'Não'}}</h6>
    <h6>E-mail válido: {{vm.isValidEmail ? 'Sim':'Não'}}</h6>
  </div>

</div>
